* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  font-size: 10px;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.4rem
}

.App {
  padding: 0 1rem;
  background: white;
}

